:root {
  --primary-container: #343434;
  --border-color: #2c2b2b;
  --primary-padding: 6px;
  --primary-brad: 16px;
  --secondary-container: orange;
  --secondary-padding: 4px;
  --secondary-brad: 10px;
  --tertiary-container: #363446;
  --on-tertiary: var(--color);
  --tertiary-brad: 6px;
  --important: #2170a5;
  --on-important: white;
  --informatory: hsl(232, 77%, 63%);
  --on-informatory: black --danger: #da4040;
  --danger: #4d3434;
  --on-danger: #d2b0b0;
  --caution: #c2af8e;
  --on-caution: black;
  background-color: #000;
  --color: #e3e3e3;
  color: #e3e3e3;
  font-family: monospace;
}

.danger {
}

.caution {
}

.loading {
}

a {
  color: var(--color);
  text-decoration: underline dotted;
  &:hover {
    text-decoration: underline;
  }
}
html,
body {
  min-height: 100%;
  margin: 0;
}
.container {
  width: 50%;
  min-height: 40vh;
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  /* grid-template-columns: 250px 1fr; */
  grid-template-rows: auto 1fr auto;
  gap: 1rem;

  @media only screen and (max-width: 600px) {
    width: 94%;
  }
}

div:is([contenteditable="true"]),
th:is([contenteditable="true"]) {
  padding: 2px;
  transition: border 75ms;
  border: 1px groove transparent;
  border-radius: var(--secondary-brad);
  &:hover {
    border-color: color-mix(in hsl, var(--border-color) 70%, white 30%);
  }
  &:focus {
    border-color: white;
    outline: none;
  }
}
/* .container {
} */
header {
  display: flex;
  align-items: center;

  border-radius: var(--primary-brad);
  padding: 0.5rem;
  color: var(--color);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--color);
}

.auth-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: auto;
}

main {
  border-radius: var(--primary-brad);
  border: 1px groove var(--border-color);
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: top;

  gap: 1rem;
  padding: 0.5rem;
}
h1 {
  text-align: center;
}

button {
  border-radius: var(--secondary-brad);
  --container-color: #212121;
  --text-color: var(--on-secondary);
  border: 1px groove var(--border-color);
  background-color: var(--container-color);
  color: var(--text-color);
  font-weight: bold;
  font-family: monospace;
  &:not([disabled]) {
    transition:
      filter 75ms 25ms,
      transform 75ms 25ms;
    &:hover {
      filter: brightness(90%);
      cursor: pointer;
    }
    &:active {
      filter: brightness(70%);
      transform: scale(90%);
    }
  }
  &:is(.danger) {
    --container-color: var(--danger);
    --text-color: var(--on-danger);
    border: 1px groove var(--on-danger);
  }
  &:is([disabled]) {
    filter: brightness(90%) saturate(60%);
  }
  &:is(.creation) {
    --container-color: var(--tertiary-container);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media only screen and (max-width: 600px) {
    scale: 110%;
  }
}
form.authentication {
  /* width: fit-content; */
}
fieldset {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;
}
fieldset.table-form {
  flex-direction: row;
  height: fit-content;
}

input,
textarea {
  padding: var(--secondary-padding);
  border: 1px groove;
  border-color: var(--border-color);
  border-radius: var(--secondary-brad);
  color: var(--on-secondary);
  background-color: transparent;
  outline: 2px groove transparent;
  transition: 75ms 25ms;
  transition-property: border-color filter transform;
  font-family: monospace;
  font-size: small;
  &:not([type="checkbox"])&:not(:disabled) {
    &:hover {
      filter: brightness(120%);
    }
    &:focus {
      filter: brightness(150%);
    }
  }
  &:disabled {
    filter: saturate(50%);
  }
  &::placeholder {
    color: var(--on-secondary);
    filter: brightness(90%);
  }
}
input:is([type="submit"]) {
  /* border: none; */
  background-color: var(--tertiary-container);
  font-weight: bold;

  &:not(:disabled) {
    &:hover {
      filter: brightness(90%);
      cursor: pointer;
    }
    &:active {
      filter: brightness(85%);
      transform: scale(90%);
    }
  }
  &:disabled {
    filter: brightness(60%) saturate(60%);
  }
}
input:is([type="checkbox"]):not(:disabled) {
  &:hover {
    cursor: pointer;
  }
}
input {
  /* height: 3vh; */
  /* width: 30vw;
  height: 6vh; */
  /* font-size: large; */
}
textarea {
  resize: none;
  width: 20vw;
  height: 10vh;
  @media only screen and (max-width: 600px) {
    width: 60vw;
  }
}

footer {
  /* background-color: var(--border-color); */
  border-radius: var(--secondary-brad);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  /* height: 3rem; */
}

/* */

.fs-popup-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  backdrop-filter: brightness(30%);
  z-index: 1000;
  left: 0;
  top: 0;
}
.fs-popup {
  position: fixed;
  display: flex;
  padding: 0.5rem;
  text-align: center;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  margin: auto;
  place-items: center;
  z-index: 1;
  width: 40vw;
  min-height: 20vh;
  background-color: #000;
  border-radius: var(--primary-brad);
  border: 1px groove var(--border-color);
  @media only screen and (max-width: 600px) {
    width: 95vw;
    min-height: 50vh;
  }
}

.btm-popup {
  transform: translateY(100%);
  position: fixed;
  display: none;
  bottom: 3rem;
  right: 2rem;
  justify-self: center;
  width: 20vw;
  min-height: 3vh;
  border-radius: 0.5rem;
  padding: 4px;
  background-color: color-mix(
    in hsl,
    var(--tertiary-container) 40%,
    transparent 60%
  );
  color: var(--on-tertiary);
  font-size: large;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgba(255, 166, 0, 0.08);

  transition-behavior: allow-discrete;
  transition-property: transform, display, opacity, bottom;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  @media only screen and (max-width: 600px) {
    right: unset;
    width: 80vw;
  }
  /* box-shadow: rgba(0, 0, 0, 0.489) -2px 2px 9px; */
}
.btm-popup.visible {
  transform: translateY(0);
  opacity: 1;
  backdrop-filter: blur(10px);
  display: grid;
  align-items: center;
}
@starting-style {
  .btm-popup.visible {
    transform: translateY(100%);
    opacity: 0%;
  }
}
/* START tabs */

.tabs-container {
  margin: auto;
  width: 35vw;
  margin-bottom: 2rem;
}
.tab-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 0.4rem;
}

.tab-link {
}
.tab-link.active {
  border: var(--tertiary-container) groove 1px;
}

.tab-pane {
  width: 40vw;
  display: none;
  @media only screen and (max-width: 600px) {
    width: 90vw;
  }
}
.tab-pane.active {
  display: flex;
  flex-direction: column;

  place-items: center;
  column-gap: 1rem;
}

/* END tabs */

cap-widget {
  --cap-background: transparent;
  --cap-border-color: var(--border-color);
  --cap-border-radius: 14px;
  --cap-widget-height: 45px;
  --cap-widget-width: 280px;
  --cap-widget-padding: 14px;
  --cap-gap: 15px;
  --cap-color: var(--on-tertiary);
  --cap-checkbox-size: 25px;
  --cap-checkbox-border: 1px solid var(--on-tertiary);
  --cap-checkbox-border-radius: 6px;
  --cap-checkbox-background: transparent;
  --cap-checkbox-margin: 2px;
  --cap-font: monospace;
  --cap-spinner-color: var(--on-tertiary);
  --cap-spinner-background-color: var(--border-color);
  --cap-spinner-thickness: 2px;
}
